<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="appSetting1" value="10" />
		<add key="env" value="QA" />
	</appSettings>
	<connectionStrings>
		<add name="myConnectionString1" providerName="System.Data.ProviderName" connectionString="Valid Connection String;" />
	</connectionStrings>
</configuration>